@CHARSET "UTF-8";
/*możlwość dodania sterfy - test*/
#menu{
	/*
	border: thin;
	border-style: solid;
	border-color: blue; */
	background-color: white; 
	position: fixed;
	right: 30px;
	top: 30px;
	height: 80%;
	
	
}

#menu_top{
	
	background-color: menu;
	position: static;
	text-align: right;
	background-color: menu;
	
}


#spis_tresci_more{
	height: 100%;
	overflow-y: scroll;
	background-color: menu;
}

#kontener{
	width: 21cm;
	font-size: small;
}
#miejsce_data{
	border-color: white;
	margin-left: 13cm;
	width: 40%;
	font-size:14px;
	
	text-align: right;
	
}
#td_data{
	border-color: white;
}

#td_miejsce{
	border-color: white;
}


.ukryty_protokol{
	display: none;
	
}

ol.menu{
	list-style-type: none;
	font-size: small;
}

a.menu{
	color: black;
}

ol{
/* counter-increment: licznik_li; */
	
}
ol:BEFORE{
/*	content: counter(licznik_li, upper-roman); */
}


li.wybrany{
	/* list-style-type: disc; */
	font-weight: bold; 
	list-style-type: decimal-leading-zero;
	
}

li.dynamic{
	font-weight: lighter; /*!important*/
}

li.header{
	list-style: upper-roman;
	font-weight: bold;
	
}
li.ukryte{
	display: none; 	
}
li:HOVER{
	/*font-weight: bold;*/ 
}

body{
	font-size: 9 px;
	counter-reset: licznik_li;
}

h2{ 
    margin-top: 15 px;
    padding-top: 1em;
	font-size: larger;
	font-family: cursive;

}

h3{
	padding-top: 1em;
	font-size: medium;
	font-family: cursive;
	
}

h1{
	margin-top: 15 px;
	padding-top: 1em;
	font-size: x-large;
}

div#kontener{
	width: 20 cm;
	
}
table {
	/* counter-reset: line-number; */
		width: 100%;
		caption-side: top;
		text-align: left;
		table-layout: auto;
		margin-top: 20px;
}

.table_caption{
	
	font-size: larger;
	text-align: left;
	font-style: normal;
	font: bolder;
	font-variant: normal;
	color: black;
}

td {
	border: 1px;
	border-style: solid;
	border-collapse: collapse;
	text-align: left; 
	vertical-align: top; 
	font-size: 9 px;
	/* padding: 5px; */
}

th {
	border: 1px;
	border-style: solid;
	border-collapse: collapse;
	text-align: left; 
	vertical-align: top; 
	font-size: medium;
	font-style: italic;
	font-weight: lighter;
	/* padding: 5px; */
}

th.first{
	background-color: black;
}

th.komentarz{
	width: 48%;
	
}

td:first-child:before {
	/*
content: counter(line-number) ".";
counter-increment: line-number;
padding-right: 0.3em; 
*/
}

table.dynamic{
	
}

 
 tr.wybrany{
	background-color: inactiveborder;
	

}



  tr.ukryte{
	/* visibility: collapse; */ 
	
}


select{

}

td.podpisy{
	border-color: silver;
	border: none;
}


tr.podpisy{
	border-bottom-color: silver;
}

.protocol1{
	background-color: Ghostwhite;
}

.protocol2{
	background-color: Powderblue;
}

.protocol3{
	background-color: Linen;
}
.protocol4{
	background-color: Mintcream;
}
.protocol5{
	background-color: Papayawhip;
}
.protocol6{
	background-color: Aliceblue;
}
.protocol7{
	background-color: Wheat;
}
.protocol8{
	background-color: Lightpink;
}
.protocol9{
	background-color: Thistle;
}
.protocol10{
	background-color: Lavender;
}

@MEDIA print  {

button{
	display: none;
}


.new_page{
	page-break-before: always;
}
	
.ukryty_protokol{
	display: block;
	background-color: white;
	
}
	
	  tr.ukryte{
	visibility: collapse;
	  }
	  div#menu{
	  visibility: hidden;
	  }
	  
	  div#low_paragrafs{
	  visibility: hidden;
	  display: none;
	  }


}


td.wybrany{
	background-color: blue;
	font-weight: bold; 
}

p{
	/* background-color: red; */
	margin-top: 0px; 
	margin-bottom: 0px; 
	/* line-spacing: single; */
	
}



textarea {
	width: 100%;
	white-space: nowrap;

	
}

div.editable {
	vertical-align: top;
	height: 40%;
	background-color: white;
	
	
	position: static;
	 text-align: justify;
	/* width: 100%;
    height: 100%; 
   border: 1px solid #ccc;  
    padding: 5px; */ 
}


